smev-service-adapter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn://x-artefacts-smev-gov-ru/services/service-adapter/types" xmlns:fault="urn://x-artefacts-smev-gov-ru/services/service-adapter/types/faults" xmlns:jxb="http://java.sun.com/xml/ns/jaxb" targetNamespace="urn://x-artefacts-smev-gov-ru/services/service-adapter/types" elementFormDefault="qualified" attributeFormDefault="unqualified" jxb:version="2.0">
	<xs:annotation>
		<xs:appinfo>
			<jxb:schemaBindings>
				<jxb:package name="ru.voskhod.smev.adapter.autogenerated.types"/>
			</jxb:schemaBindings>
		</xs:appinfo>
	</xs:annotation>
	<xs:import namespace="urn://x-artefacts-smev-gov-ru/services/service-adapter/types/faults" schemaLocation="smev-service-adapter-faults.xsd"/>
	<xs:element name="itSystem" type="tns:string-50">
		<xs:annotation>
			<xs:documentation>
						Регистрационный код информационной системы участника взаимодействия в Адаптере СМЭВ.
					</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="RejectCode">
		<xs:restriction base="tns:string_50">
			<xs:enumeration value="ACCESS_DENIED">
				<xs:annotation>
					<xs:documentation>
                        Отсутствуют права на получение информации (например, в случае, если поставщик проверяет ЭП-СП).
                    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NO_DATA">
				<xs:annotation>
					<xs:documentation>
                        Сведения отсутствуют.
                    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UNKNOWN_REQUEST_DESCRIPTION">
				<xs:annotation>
					<xs:documentation>
                        Невозможно определить объект запроса информации.
                    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="QueryTypeCriteria">
		<xs:sequence>
			<xs:element name="messageTypeCriteria" type="tns:TypeCriteria" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
                        Получение одного сообщения из адаптера по его типу.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FindTypeCriteria">
		<xs:choice>
			<xs:element name="messageIntervalCriteria" type="tns:MessageIntervalCriteria" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
                        Получение сообщений из адаптера за заданный период времени.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="messageClientIdCriteria" type="tns:MessageClientIdCriteria" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
                        Получение сообщений из адаптера по его клиентскому идентификатору.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MessageIntervalCriteria">
		<xs:sequence>
			<xs:element name="from" type="xs:dateTime" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
                        От. Если не указан //to, то возвращаются все сообщения начиная с //from.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="to" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                        До.  
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TypeCriteria">
		<xs:restriction base="tns:string_50">
			<xs:enumeration value="RESPONSE">
				<xs:annotation>
					<xs:documentation>
                        Получить ответ на запрос.
                    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REQUEST">
				<xs:annotation>
					<xs:documentation>
                        Получить запрос.
                    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MessageClientIdCriteria">
		<xs:sequence>
			<xs:element name="clientId" type="tns:string_50" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
                        Клиентский идентификатор сообщения.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="clientIdCriteria" type="tns:ClientIdCriteria" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
                        Вариант получения сообщения из адаптера по клиентскому идентификатору сообщения.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ClientIdCriteria">
		<xs:restriction base="tns:string_50">
			<xs:enumeration value="GET_REQUEST_BY_REQUEST_CLIENTID">
				<xs:annotation>
					<xs:documentation>
                        Получить запрос по клиентскому идентификатору запроса.
                    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GET_RESPONSE_BY_REQUEST_CLIENTID">
				<xs:annotation>
					<xs:documentation>
                        Получить все ответы на запрос по клиентскому идентификатору запроса.
                    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GET_RESPONSE_BY_RESPONSE_CLIENTID">
				<xs:annotation>
					<xs:documentation>
                        Получить ответ на запрос по клиентскому идентификатору ответа на запрос.
                    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="RequestMetadata" type="tns:RequestMetadataType"/>
	<xs:complexType name="RequestMetadataType">
		<xs:complexContent>
			<xs:extension base="tns:Metadata">
				<xs:sequence>
					<xs:choice>
						<xs:element name="linkedGroupIdentity" type="tns:LinkedGroupIdentity" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									Необходим для привязывания запроса к последовательности запросов либо 
									привязывания новой последовательности запросов к группе последовательностей запросов.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="createGroupIdentity" type="tns:CreateGroupIdentity" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									Необходим для получения Адаптером СМЭВ кода транзакции в случаях,
									если //linkedGroupIdentity не передаются вместе с запросом.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:element name="nodeId" type="tns:string_50" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Идентификатор нода (узла) отправителя запроса.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="eol" type="xs:dateTime" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Ограничение времени жизни запроса.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="testMessage" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Флаг, указывающий на тестовое сообщение.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="tns:BusinessProcessMetadata" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ResponseMetadata" type="tns:ResponseMetadataType"/>
	<xs:complexType name="ResponseMetadataType">
		<xs:complexContent>
			<xs:extension base="tns:Metadata">
				<xs:sequence>
					<xs:element name="replyToClientId" type="tns:string_50" minOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Клиентский идентификатор запроса, на который высылается ответ.
								Данный элемент заполняется ИС УВ при отправке ответа на запрос в адаптер.
								При получении ИС УВ ответа на запрос из адаптера данный элемент заполняется адаптером.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Metadata">
		<xs:sequence>
			<xs:element name="clientId" type="tns:string_50" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
                        Клиентский идентификатор сообщения (запроса либо ответа на запрос) в виде уникальной произвольной последовательности цифр и/или латинских букв.
                        Данный элемент заполняется ИС УВ при отправке сообщения (запроса либо ответа на запрос) в адаптер.
                        При получении ИС УВ сообщения (запроса либо ответа на запрос) из адаптера данный элемент заполняется адаптером.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LinkedGroupIdentity">
		<xs:sequence>
			<xs:element name="refClientId" type="tns:string_50" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                        Клиентский идентификатор запроса источника.
                        Указывается clientId родительского запроса по отношению к текущему запросу последовательности запросов.
						Данный элемент заполняется ИС УВ при отправке запроса в адаптер.
						При получении ИС УВ запроса из адаптера данный элемент заполняется адаптером.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="refGroupId" type="tns:string_50" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                        Клиентская ссылка на группу последовательностей запросов, представляющая собой
                        клиентский идентификатор корневого запроса существующей последовательности запросов, 
                        с которой необходимо объединить в общую группу новую последовательность запросов.
                        Указывается id корневого запроса существующей последовательности запросов, 
                        с которой следует объединить в общую группу последовательность запросов, 
                        корневым элементом которой является текущий запрос.
                        Данный элемент заполняется ИС УВ при отправке запроса в адаптер.
                        При получении ИС УВ запроса из адаптера данный элемент заполняется адаптером.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreateGroupIdentity">
		<xs:sequence>
			<xs:element name="FRGUServiceCode" type="tns:string_20" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
                        Код ФРГУ государственной услуги либо государственной функции.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FRGUServiceDescription" type="tns:string_1000" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                        Расширенные сведения об услуге или функции.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FRGUServiceRecipientDescription" type="tns:string_1000" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                        Расширенные сведения о потребителе услуги или функции.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RequestContent" type="tns:RequestContentType"/>
	<xs:complexType name="RequestContentType">
		<xs:sequence>
			<xs:element name="content" type="tns:Content">
				<xs:annotation>
					<xs:documentation>
                        Бизнес данные запроса.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ResponseContent" type="tns:ResponseContentType"/>
	<xs:complexType name="ResponseContentType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="content" type="tns:Content">
					<xs:annotation>
						<xs:documentation>
                            Бизнес данные ответа на запрос.
                        </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="rejects" type="tns:Reject" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>
                            Отклонение запроса.
                        </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="status" type="tns:Status" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>
                            Бизнес статус запроса.
                        </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Content">
		<xs:sequence>
			<xs:element ref="tns:MessagePrimaryContent" minOccurs="1"/>
			<xs:element ref="tns:PersonalSignature" minOccurs="0"/>
			<xs:element ref="tns:AttachmentHeaderList" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Reject">
		<xs:sequence>
			<xs:element name="code" type="tns:RejectCode">
				<xs:annotation>
					<xs:documentation>
                        Код причины отклонения запроса.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="tns:string_4000">
				<xs:annotation>
					<xs:documentation>
                        Описание причины отклонения запроса.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Status">
		<xs:sequence>
			<xs:element name="code" type="tns:string_50">
				<xs:annotation>
					<xs:documentation>
                        Код бизнес статуса запроса.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="tns:string_4000">
				<xs:annotation>
					<xs:documentation>
                        Описание бизнес статуса запроса.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="parameter" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="key" type="xs:string" minOccurs="1"/>
						<xs:element name="value" type="xs:string" minOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Message" type="tns:Message"/>
	<xs:complexType name="Message"/>
	<xs:element name="RequestMessage" type="tns:RequestMessageType"/>
	<xs:complexType name="RequestMessageType">
		<xs:complexContent>
			<xs:extension base="tns:Message">
				<xs:sequence>
					<xs:element ref="tns:RequestMetadata" minOccurs="1"/>
					<xs:element ref="tns:RequestContent" minOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ResponseMessage" type="tns:ResponseMessageType"/>
	<xs:complexType name="ResponseMessageType">
		<xs:complexContent>
			<xs:extension base="tns:Message">
				<xs:sequence>
					<xs:element ref="tns:ResponseMetadata" minOccurs="1"/>
					<xs:element ref="tns:ResponseContent" minOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SyncRequest" type="tns:SyncRequest"/>
	<xs:complexType name="SyncRequest">
		<xs:sequence>
			<xs:element ref="tns:itSystem" minOccurs="1"/>
			<xs:element ref="tns:RequestMessage" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SyncResponse" type="tns:SyncResponse"/>
	<xs:complexType name="SyncResponse">
		<xs:sequence>
			<xs:element ref="tns:smevMetadata" minOccurs="1"/>
			<xs:element ref="tns:Message">
				<xs:annotation>
					<xs:documentation>
						Для //SyncResponse возвращается блок 
						//ResponseMessage или //ErrorMessage
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ClientMessage" type="tns:ClientMessage"/>
	<xs:complexType name="ClientMessage">
		<xs:sequence>
			<xs:element ref="tns:itSystem" minOccurs="1"/>
			<xs:choice>
				<xs:element ref="tns:RequestMessage" minOccurs="1"/>
				<xs:element ref="tns:ResponseMessage" minOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="QueryResult" type="tns:AdapterMessage"/>
	<xs:element name="QueryResultList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:QueryResult" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="AdapterMessage">
		<xs:sequence>
			<xs:element ref="tns:smevMetadata" minOccurs="1"/>
			<xs:element ref="tns:Message" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Для //QueryResult возвращается блок 
						//RequestMessage или //ResponseMessage или //StatusMessage или //ErrorMessage
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="StatusMessageCategory">
		<xs:restriction base="tns:string_50">
			<xs:enumeration value="OTHER">
				<xs:annotation>
					<xs:documentation>
                        Иной статус.
                    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ERROR">
				<xs:annotation>
					<xs:documentation>
                        Ошибка.
                    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="StatusMessage" type="tns:StatusMessage"/>
	<xs:complexType name="StatusMessage">
		<xs:complexContent>
			<xs:extension base="tns:Message">
				<xs:sequence>
					<xs:element name="statusMetadata" type="tns:StatusMetadataType" minOccurs="1"/>
					<xs:element name="status" type="tns:StatusMessageCategory" minOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Тип статусного сообщения.
								Сообщения типа "ERROR" возвращаются блоком //ErrorMessage
								Сообщения типа "OTHER" возвращаются блоком //StatusMessage
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="details" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Описание статуса.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="timestamp" type="xs:dateTime" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Метка времени формирования статуса.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StatusMetadataType">
		<xs:complexContent>
			<xs:extension base="tns:Metadata">
				<xs:sequence>
					<xs:element name="originalClientId" type="tns:string_50" minOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Клиентский идентификатор сообщения, на который высылается статусный ответ.
								При получении ИС УВ статусного ответа данный элемент заполняется адаптером.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ErrorMessage" type="tns:ErrorMessage"/>
	<xs:simpleType name="ErrorType">
		<xs:restriction base="tns:string_50">
			<xs:enumeration value="SERVER">
				<xs:annotation>
					<xs:documentation>
                        Ошибка сервера (СМЭВ3.х).
                    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CLIENT">
				<xs:annotation>
					<xs:documentation>
                        Ошибка клиента (Адаптера СМЭВ3.х).
                    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ErrorMessage">
		<xs:complexContent>
			<xs:extension base="tns:StatusMessage">
				<xs:sequence>
					<xs:element name="type" type="tns:ErrorType" minOccurs="1">
						<xs:annotation>
							<xs:documentation>
                                Тип источника ошибки.
                            </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fault" type="fault:Fault" minOccurs="1">
						<xs:annotation>
							<xs:documentation>
                                Сведения об ошибке.
                            </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="smevMetadata" type="tns:SmevMetadata"/>
	<xs:complexType name="SmevMetadata">
		<xs:sequence>
			<xs:element name="MessageId" type="tns:UUID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                        Идентификатор сообщения (запроса либо ответа на запрос) в строковом представлении UUID.
                        Данный идентификатор используется в СМЭВ3.х для процессинга сообщений.
                        Генерируется адаптером при отправке сообщения в СМЭВ3.х 
                        в соответствии с RFC-4122, по варианту 1 (на основании MAC-адреса и текущего
                        времени).
                        Также идентификатор сообщения приходит в адаптер из СМЭВ3.х вместе с запросом либо ответом на запрос.
                        Данный элемент заполняется адаптером.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReferenceMessageID" type="tns:UUID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                        Идентификатор корневого запроса (запроса, порождающего цепочку запросов) в строковом
                        представлении UUID.
                        Соответствует RFC-4122, по варианту 1 (на основании MAC-адреса и текущего
                        времени).
                        Также данный идентификатор приходит в адаптер из СМЭВ3.х вместе с запросом.
                        Данный элемент заполняется адаптером.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransactionCode" type="tns:string_1500" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                        Код транзакции. 
                        При отправке запроса в СМЭВ3.х адаптер получает код транзакции в СГКТ самостоятельно.
                        Также код транзакции приходит в адаптер из СМЭВ3.х вместе с запросом либо ответом на запрос.
                        Адаптер заполняет данный элемент кодом транзакции, полученным в СГКТ либо из СМЭВ3.х.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalMessageID" type="tns:UUID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                        Идентификатор запроса, на который пришел ответ, в строковом представлении UUID. 
                        Данный идентификатор используется в СМЭВ3.х для процессинга ответов на запросы.
                        Соответствует RFC-4122, по варианту 1 (на основании MAC-адреса и текущего
                        времени).
                        Приходит в адаптер из СМЭВ3.х вместе с ответом на запрос.
                        Данный элемент заполняется адаптером.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageQuery">
		<xs:sequence>
			<xs:element ref="tns:itSystem" minOccurs="1"/>
			<xs:element name="nodeId" type="tns:string_50" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                        Идентификатор нода (узла).
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="specificQuery" type="tns:QueryTypeCriteria" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                        Запрос одного сообщения по его типу (описание см. в //QueryTypeCriteria).
                        Если запрос осуществляется без //specificQuery, то будет возвращено одно очередное сообщение из
                        очереди информационной системы участника взаимодействия.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FindMessageQuery">
		<xs:sequence>
			<xs:element ref="tns:itSystem" minOccurs="1"/>
			<xs:element name="specificQuery" type="tns:FindTypeCriteria" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
                        Поиск сообщений по идентификатору либо по заданному периоду времени.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BusinessProcessMetadata" type="tns:BusinessProcessMetadata">
		<xs:annotation>
			<xs:documentation>
                Информация о бизнес-процессе, в рамках которого пересылается сообщение.
            </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="BusinessProcessMetadata">
		<xs:sequence>
			<xs:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
                        Корневой элемент XML-документа присоединять сюда.
                        Формат данных XML-документа определяется отдельной схемой (схемах).
                    </xs:documentation>
				</xs:annotation>
			</xs:any>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MessageQuery" type="tns:MessageQuery">
		<xs:annotation>
			<xs:documentation>
                Получить сообщение из очереди информационной системы участника взаимодействия, если очередь не пуста.
                В какую очередь смотреть - определаятся регистрационным кодом информационной системы участника
                взаимодействия в Адаптере СМЭВ.
            </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FindMessageQuery" type="tns:FindMessageQuery">
		<xs:annotation>
			<xs:documentation>
                Найти сообщения отправленные либо полученные информационной системой участника взаимодействия.
            </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MessageResult">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:itSystem" minOccurs="1"/>
				<xs:element name="MessageId" type="tns:UUID" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
                            Идентификатор отправленного сообщения в строковом представлении UUID.
                        </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MessagePrimaryContent">
		<xs:annotation>
			<xs:documentation>
                Содержательная часть сообщения СМЭВ.
            </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:any namespace="##other" processContents="skip">
					<xs:annotation>
						<xs:documentation>
                            Корневой элемент XML-документа запроса присоединять сюда.
                            Формат данных XML-документа определяется схемой вида сведений, зарегистрированного в СМЭВ3.х
                        </xs:documentation>
					</xs:annotation>
				</xs:any>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AttachmentHeaderList">
		<xs:annotation>
			<xs:documentation>
                Пути к файлам вложения, прилагаемого к сообщению.
            </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AttachmentHeader" type="tns:AttachmentHeaderType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>
                            Путь к файлу вложения, прилагаемого к сообщению.
                        </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="AttachmentHeaderType">
		<xs:sequence>
			<xs:element name="filePath" type="xs:string">
				<xs:annotation>
					<xs:documentation>
                        Полный (абсолютный) либо относительный путь к файлу вложения.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SignaturePKCS7" type="xs:base64Binary" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                        ЭЦП в формате PKCS#7 detached. Подписывать ключом ЭП-СП.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="UUID">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="PersonalSignature" type="tns:XMLDSigSignatureType">
		<xs:annotation>
			<xs:documentation>
                ЭП-СП содержательной части сообщения.
                Подписывается элемент, находящийся сразу под //MessagePrimaryContent.
            </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="XMLDSigSignatureType">
		<xs:sequence>
			<xs:any namespace="http://www.w3.org/2000/09/xmldsig#" processContents="skip">
				<xs:annotation>
					<xs:documentation>
                        Электронная подпись, по спецификации XMLDSig.
                        Объявлена как any для того, чтобы инструменты типа JAXB не генерировали классов для пространства
                        имён http://www.w3.org/2000/09/xmldsig#.
                        Это, в свою очередь, нужно потому, что инструменты, генерирующие и проверяющие ЭЦП (напр. Apache
                        Santuario)
                        работают с DOM-деревьями, а не с JAXB-объектами.
                    </xs:documentation>
				</xs:annotation>
			</xs:any>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="string_20">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_50">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_1000">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_1500">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_4000">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
