smev-service-adapter-faults.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fault="urn://x-artefacts-smev-gov-ru/services/service-adapter/types/faults" xmlns:jxb="http://java.sun.com/xml/ns/jaxb" targetNamespace="urn://x-artefacts-smev-gov-ru/services/service-adapter/types/faults" elementFormDefault="qualified" attributeFormDefault="unqualified" jxb:version="2.0">
	<xs:annotation>
		<xs:documentation>
            Определения элементов, используемых в качестве SOAP fault-сообщений.
        </xs:documentation>
		<xs:appinfo>
			<jxb:schemaBindings>
				<jxb:package name="ru.voskhod.smev.adapter.autogenerated.types.fault"/>
			</jxb:schemaBindings>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="SystemFault" type="fault:Fault">
		<xs:annotation>
			<xs:documentation>
                Запрос невозможно отправить Адаптером СМЭВ по причине программного сбоя либо
                отсутствия необходимой конфигурационной информации.
                Действия клиента: должен предпринимать повторные попытки отправить запрос, без ограничения количества
                попыток.
            </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ValidationFault" type="fault:Fault">
		<xs:annotation>
			<xs:documentation>
                Ошибка обработки запроса Адаптером СМЭВ по причине отсутствия в запросе данных необходимых для его
                обработки либо
                наличия в запросе неконсистентных данных.
                Действия клиента: должен устранить причину ошибки обработки запроса и предпринять повторную попытку
                отправить запрос.
            </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SyncFault" type="fault:Fault">
		<xs:annotation>
			<xs:documentation>
                Адаптер СМЭВ не получил синхронный ответ на отправленный запрос в течение заданного времени.
                Действия клиента: должен предпринимать повторные попытки отправить запрос, без ограничения количества
                попыток.
            </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Fault">
		<xs:sequence>
			<xs:element name="code" type="fault:string_50" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                        Код ошибки, генерируемый Адаптером СМЭВ либо возвращаемый СМЭВ3.х
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                        Описание ошибки, генерируемое Адаптером СМЭВ либо возвращаемое СМЭВ3.х
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="string_50">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
